.page{
    display:none;
    width:100%;
    min-height:100%;
    padding:32px 40px;
    border-radius:10px;

    background:
        linear-gradient(
            rgba(8,18,30,.88),
            rgba(5,12,20,.88)
        );

    border:1px solid rgba(0,220,255,.15);

    box-shadow:
        inset 0 0 30px rgba(0,255,255,.05);

    backdrop-filter:blur(10px);
}

.page.active{
    display:block;
}
.chapter-content p{
line-height:2
}
